version: '3.7'
services:
  frontend:
    image: 'plantlogic/frontend:latest'
    restart: always
    ports:
    - "80:80"
    networks:
      gateway:
    depends_on:
      - userservice
      - dataservice
    environment:
      - APP_NAME=
      - REDIRECT_URL=
      - APP_URL=
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/site.template
      - ./environment.json:/etc/nginx/conf.d/environment.template
    command: >
      /bin/bash -c "/home/environment-config.sh"
  userservice:
    image: 'plantlogic/user-service:latest'
    restart: always
    depends_on:
      - userdb
    environment: 
      - APP_NAME=
      - APP_URL=
      - SMTP_HOST=
      - SMTP_PORT=587
      - SMTP_FROM=
      - SMTP_USERNAME=
      - SMTP_PASSWORD=
      - SMTP_TLS=true
    networks:
      usernet:
      gateway:
        aliases:
          - userservice
  userdb:
    image: 'mongo:4'
    restart: always
    networks:
      usernet:
        aliases:
          - userdb
    volumes:
      - ./userdb:/data/db
  dataservice:
    image: 'plantlogic/data-service:latest'
    restart: always
    depends_on:
      - datadb
    networks:
      datanet:
      gateway:
        aliases:
          - dataservice
  datadb:
    image: 'mongo:4'
    restart: always
    networks:
      datanet:
        aliases:
          - datadb
    volumes:
      - ./datadb:/data/db

networks:
  gateway:
  usernet:
  datanet: