version: '3.7'
services:
  frontend:
    image: 'plantlogic/frontend:latest'
    restart: always
    ports:
    - "80:80"
    networks:
      gateway:
    environment:
      - REDIRECT_URL=plantlogic.org
      - FRONTEND_URL=demo.plantlogic.org
      - API_URL=demo-api.plantlogic.org
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/site.template
    command: /bin/bash -c "envsubst '$$REDIRECT_URL $$FRONTEND_URL $$API_URL' < /etc/nginx/conf.d/site.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
  userservice:
    image: 'plantlogic/user-service:latest'
    restart: always
    depends_on:
      - userdb
    networks:
      database:
      gateway:
        aliases:
          - userservice
  userdb:
    image: 'mongo:4'
    restart: always
    networks:
      database:
        aliases:
        - userdb
    volumes:
      - ./userdb:/data/db

networks:
  gateway:
  database: