version: '3.7'
services:
  frontend:
    image: 'plantlogic/frontend:latest'
    restart: always
    ports:
    - "80:80"
    networks:
      gateway:
    depends_on:
      - userservice
    environment:
      - APP_NAME=PlantLogic
      - REDIRECT_URL=plantlogic.org
      - FRONTEND_URL=demo.plantlogic.org
      - API_URL=demo-api.plantlogic.org
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/site.template
      - ./environment.json:/etc/nginx/conf.d/environment.template
    command: >
      /bin/bash -c "envsubst '$$REDIRECT_URL $$FRONTEND_URL $$API_URL' < /etc/nginx/conf.d/site.template > /etc/nginx/conf.d/default.conf 
                 && envsubst '$$API_URL $$APP_NAME' < /etc/nginx/conf.d/environment.template > /usr/share/nginx/html/assets/environments/environment.json
                 && exec nginx -g 'daemon off;'"
  userservice:
    image: 'plantlogic/user-service:latest'
    restart: always
    depends_on:
      - userdb
    networks:
      usernet:
      gateway:
        aliases:
          - userservice
  userdb:
    image: 'mongo:4'
    restart: always
    networks:
      usernet:
        aliases:
          - userdb
    volumes:
      - ./userdb:/data/db
  dataservice:
    image: 'plantlogic/data-service:latest'
    restart: always
    depends_on:
      - datadb
    networks:
      datanet:
      gateway:
        aliases:
          - dataservice
  datadb:
    image: 'mongo:4'
    restart: always
    networks:
      datanet:
        aliases:
          - datadb
    volumes:
      - ./datadb:/data/db

networks:
  gateway:
  usernet:
  datanet: